html {
	box-sizing: border-box;
	overflow: hidden;
}

*,*::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-size: inherit;
}

p {
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
	min-width: 320px;
	overflow-x: hidden;
	background-color: #2B2C3A;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
	font-family: 'Jost', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	height: 100vh;
}

.side-panel {
	width: 280px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(156, 165, 236, 0.04);
	display: flex;
	flex-direction: column;
	transition: all .3s ease;
}

.logo {
	padding: 19px 30px 15px;
	border-bottom: 1px solid rgba(216,216,216, .1);
}

.logo__img {
	width: 100%;
	height: auto;
}

.logo__link {
	display: block;
	width: 138px;
	height: 37px;
}

.side-menu {
	padding: 30px 0 20px;
	border-bottom: 1px solid rgba(216,216,216, .06);
}

.side-menu-list__item {
	padding: 0 30px;
	margin-bottom: 13px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	transition: all .3s ease;
}

/* FIXME: посмотреть еще раз этот кусок */

.side-menu-list__item:hover {
	color: #6868FF;
}

.side-menu-list__item:hover .side-menu-list__arrow path {
	fill: #6868FF;
}

.side-menu-list__item.active .side-menu-list__arrow {
	transform: rotate(180deg);
}

.side-menu-list__item.active {
	color: #6868FF;
}

.side-menu-list__item.active .side-menu-list__arrow path {
	fill: #6868FF;
}

.side-menu-list__arrow {
	position: absolute;
	content: '';
	width: 10px;
	height: 6px;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	transition: all .3s ease;
}

.lectures-menu__list {
	padding: 5px 0 20px;
	display: none;
}

.lectures-menu__list.opened {
	display: block;
}

.lectures-menu__item {
	display: flex;
	align-items: center;
	padding: 11px 30px 11px 50px;
	position: relative;
}

.lectures-menu__item::before {
	position: absolute;
	content: '';
	width: 3px;
	height: 100%;
	left: 0;
	top: 0;
	background-color: transparent;
	box-shadow: none;
}

.lectures-menu__item:hover {
	background: rgba(255, 255, 255, .03);
	mix-blend-mode: normal;
	cursor: pointer;
}

.lectures-menu__item:hover::before {
	background-color: #6F6EFF;
	box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
}

.lectures-menu__item:hover .lectures-menu__name {
	color: #fff;
}

.lectures-menu__item:hover .lectures-menu__pic path {
	fill: #6F6EFF;
	opacity: 1;
}

.lectures-menu__name {
	margin-left: 25px;
	line-height: 10px;
	color: rgba(255, 255, 255, .5);
}

.sub-form {
	display: flex;
	flex: 1;
	align-items: flex-end;
}

.subscribe {
	padding: 0 30px 31px;
	width: 100%;
}

.subscribe__label {
	color: rgba(255, 255, 255, .5);
	line-height: 10px;
	display: block;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.subscribe__text {
	position: relative;
}

.subscribe__text::before,
.subscribe__text::after {
	position: absolute;
	content: '';
	display: block;
}

.subscribe__text::before {
	top: -5px;
	right: 0;
	width: 42px;
	height: 22px;
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 15px;
}

.subscribe__text::after {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	top: -2px;
	right: 23px;
	background-color: rgba(255, 255, 255, .5);
	transition: all .3s ease;
}

.subscribe__input {
	position: absolute;
	right: 100%;
	bottom: 100%;
	opacity: 0;
	visibility: hidden;
}

.subscribe__input:checked + .subscribe__text::after {
	right: 3px;
	background-color: #6F6EFF;
	box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
}

/* main */

.page {
	padding-left: 280px;
	padding-top: 72px;
}

/* header */

.header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
	width: calc(100% - 280px);
	padding: 14px 45px 13px 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(216, 216, 216, .1);
	line-height: 10px;
	background-color: #2B2C3A;
}

.burger,
.logo-burger {
	position: relative;
    height: 19px;
    display: none;
}

.burger span,
.logo-burger span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    margin-top: 9px;
    transition: all .3s ease;
}

.burger:before,
.burger:after,
.logo-burger:before,
.logo-burger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    border-radius: 2px;
    background: #fff;
    transition: all .3s ease;
}

.burger:before,
.logo-burger::before {
	top: 0;
}

.burger:after,
.logo-burger:after {
	bottom: 0;
}

.logo-burger:before {
	transform: rotate(-45deg);
	top: 9px;
}

.logo-burger:after {
	transform: rotate(45deg);
	bottom: 8px;
}

.logo-burger span {
	opacity: 0;
	visibility: hidden;
}

.info-list {
	display: flex;
	align-items: center;
	border-right: 1px solid rgba(216, 216, 216, .1);
	color: rgba(255, 255, 255, .6);
	padding: 7px 0;
}

.info-list__item {
	padding-right: 28px;
	transition: all .3s ease;
}

.info-list__item:hover {
	color: #fff;
}

.profile {
	display: flex;
	align-items: center;
}

.plates-list {
	display: flex;
	align-items: center;
}

.plate {
	font-size: 13px;
	margin-right: 10px;
	padding: 7px 9px;
	background-color: rgba(255, 255, 255, .06);
	border-radius: 5px;
}

.plate-last {
	display: flex;
	align-items: center;
	margin-right: 14px;
	padding: 3px 9px 3px 3px;
	font-size: 11px;
	color: rgba(255, 255, 255, .6);
}

.plate-last__pic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	background-color: #FF4738;
	box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
	border-radius: 4px;
	margin-right: 10px;
}

.plate-last .plate__num {
	font-size: 13px;
	color: #fff;
	margin-right: 4px;
}

.account {
	display: flex;
	align-items: center;
}

.account__img {
	width: 44px;
	height: 44px;
	margin-right: 13px;
}

.account__img img {
	width: 100%;
	height: 100%;
}

.account__name {
	font-size: 14px;
	margin-right: 15px;
}

.account__status {
	padding: 0 11px 0 8px;
	text-transform: uppercase;
	background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
	box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
	border-radius: 4px;
	font-size: 11px;
}

.account__user-status {
	margin-top: 9px;
	padding-left: 14px;
	font-weight: 600;
	font-size: 13px;
	color: #24CB8D;
	position: relative;
}

.account__user-status::before {
	position: absolute;
	content: '';
	left: 4px;
	bottom: 1px;
	width: 6px;
	height: 6px;
	background-color: #24CB8D;
	border-radius: 50%;
}

/* main */

.content {
	padding: 40px 55px;
}

.level {
	margin-bottom: 60px;
}

.level:last-child {
	margin-bottom: 20px;
}

.level__head {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 25px;
}

.level__subtitle {
	font-size: 11px;
	line-height: 16px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .4);
	margin-bottom: 7px;
}

.level__title {
	font-size: 22px;
	line-height: 18px;
	font-weight: 400;
}

.level__btns {
	display: flex;
	align-items: center;
	padding-top: 11px;
}

.level__all {
	background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
	border-radius: 4px;
	padding: 7px 12px 6px 13px;
	font-size: 12px;
	line-height: 17px;
	margin-right: 10px;
	transition: all .3s ease;
}

.level__all:hover {
	transform: scale(1.1);
}

.level-arrow {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, .15);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
}

.level-arrow-prev {
	margin-right: 5px;
	transform: rotate(-90deg);
}

.level-arrow-next {
	transform: rotate(90deg);
}

.level__main {
	display: flex;
}

.lesson {
	width: 255px;
	height: 294px;
	border-radius: 6px;
	overflow: hidden;
	margin-right: 11px;
	background-color: rgba(255, 255, 255, .04);
}

.lesson:last-child {
	margin-right: 0;
}

.lesson__bg {
	background-image: url('../img/bg-1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 144px;
	position: relative;
}

.lesson__sign {
	position: absolute;
	left: 15px;
	top: 15px;
	padding: 4px 5px 4px 6px;
	font-size: 12px;
	line-height: 12px;
	background: #6F6EFF;
	border-radius: 3px;
}

.lesson__info,
.lesson__bottom {
	padding: 15px;
}

.lesson__info {
	height: 88px;
	border-bottom: 1px solid rgba(216, 216, 216, .1);
	box-sizing: border-box;
}

.lesson__title {
	font-size: 16px;
	line-height: 12px;
	font-weight: 400;
	margin-bottom: 10px;
}

.lesson__subtitle {
	line-height: 18px;
	color: rgba(255, 255, 255, .5);
	max-width: 215px;
}

.lesson__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lesson__date {
	font-size: 13px;
	line-height: 10px;
}

.lesson__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 89px;
	height: 30px;
	background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
	border-radius: 4px;
	transition: all .3s ease;
}

.lesson__btn:hover {
	transform: scale(1.1);
}

.footer {
	display: none;
	padding: 5px 20px;
	border-top: 1px solid rgba(216, 216, 216, .1);
}

.footer .info-list {
	border: none;
}

.footer .info-list__item:last-child {
	margin-right: 0;
}

@media screen and (max-width: 1150px) {
	.side-panel {
		left: -281px;
		background-color: #343646;
		z-index: 4;
	}

	.side-panel.opened {
		left: 0;
	}

	.header {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.page {
		padding-left: 0;
	}

	.content {
		padding: 15px 20px;
	}

	.burger, .logo-burger {
		display: block;
	}

	.logo {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}

@media screen and (max-width: 880px)  {
	.info-list {
		display: none;
	}

	.footer {
		display: block;
	}

	.footer .info-list {
		display: flex;
	}
}

@media screen and (max-width: 600px) {
	.page {
		padding-top: 112px;
	}

	.plates-list {
		flex-direction: column;
		align-items: flex-start;
	}

	.profile {
		flex: 1;
		margin-left: 30px;
		justify-content: space-between;
	}

	.plate {
		margin-bottom: 4px;
	}
}

@media screen and (max-width: 420px) {
	.header {
		padding-left: 10px;
    	padding-right: 10px;
	}
	
	.account__name {
		margin-right: 0;
	}

	.account__status {
		display: none;
	}
}